* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: #414141;
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
}
